body {
	padding: 20px;
}

.weight-lg {
	min-width: 70px;
	min-height: 70px;
}

.weight-sm {
	min-width: 50px;
	min-height: 50px;
}

.btn-plate {
	border-radius: 50%;
	margin: 10px;
	position: relative;
}

.btn .badge {
	position: absolute;
	bottom: -5px;
	right: -5px;
	z-index: 10;
	top: auto;
	height: 19px;
}

@media screen and (max-width: 900px) {
	.btn-plate.weight-lg,
	.btn-plate.weight-sm {
		font-size: 14px;
		min-width: 50px;
		min-height: 50px;
		margin: 5px;
	}
}

.btn-barbell {
	min-width: 30%;
}

form {
	width: 50vw;
}

@media screen and (max-width: 900px) {
	form {
		width: 100vw;
	}
}
